
Python Web Scraper/web-scrape-testing-notebook.ipynb
Python Web Scraper/zone-data-web-scraper.py
Python Web Scraper/petZones.pkl
Python Web Scraper/petTaughtByItem.pkl
Python Web Scraper/petMissingLocation.pkl
Python Web Scraper/petLocationData.pkl
Python Web Scraper/PetAddonData.lua
Python Web Scraper/pet-data-web-scraper.py
Python Web Scraper/convert-pet-dict-to-lua.py
Python Web Scraper/testing.html
rareSpawnData.lua
